.baseDiv{align:center;width:1200px;margin:5px 5px;}
.title_box {
	background: #ead4ff;
	border: 1px solid black;
	width: 1190px;
	height: 6px;
	//padding: 10px 5px;
	padding: 20px;
	margin: 0 0 5px 0;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 15px;
}

.errorMsgDiv {
	width: 500px;
	margin: 5px auto;
}

.upload_form {
	background: #ead4ff;
	margin: 0 0 5px 0;
	border: 1px solid black;
	width: 1190px;
	height: 250px;
	padding: 20px;

}

.button {
	width: 55px;
	border: none;
	background: #D6ADEB;
	margin: 0 5px;
	font-weight: bold;
}

.template {
	text-decoration: underline;
	float: right;
	border: none;
}

dt {
	float: left;
	margin: 0 5px 0 0;
	padding: 0px 80px;
}

table.file_list {
	border-collapse: collapse;
	boder-spacing: 0px;
	width: 900px;
	margin: 0 30px;
}

table.file_list td {
	border: 1px solid black;
	padding: 3px;
}

table.file_list th {
	border: 1px solid black;
	background: #FFFF00;
}

.dataentry_form {
	background: #ead4ff;
	margin: 0 0 5px 0;
	border: 1px solid black;
	width: 1190px;
	height: 350px;
	padding: 20px;

}